body {
    background-color: hsl(109, 83%, 14%);
    font-family: "Baloo-Bhaina 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #94c8da;
}

header {
    background-color: #94c8da;
    color: #000000;
    border-radius: 10px;
    border: 5px solid #000000;
    box-shadow: 0px 4px 8px #94c8da;
}